*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: #e1fcad;
    scroll-behavior: smooth;
}
h1{
    font-family: "Courier New", Courier, monospace;
    font-size: 46px;
    font-weight: 700;
    color: #e1fcad;
    text-shadow: 2px 2px black;
}
h2{
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    color: #e1fcad;
    text-shadow: 2px 2px black;
}
p{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 350;
    color: #e1fcad;
    text-shadow: 2px 2px black;
    
}

a{
    font-family: 'Courier New', Courier, monospace;
    color: #e1fcad;
    font-weight: 300;
    text-decoration: none;
}

/* navbar */
    .navbar{
        display: flex;
        width: 100%;
        height: 108px;
        align-items: center;
        background-color: #707e56;
        
    }
    .navbar-logo{
        height: 54px;
        margin-left: 24px;
        border: 4px solid #e1fcad;
        /* makes the logo round*/
        border-radius: 25%;
        /* makes the logo rotate back when you exit the hover*/
        transition: all 2.0s;
        
    }
    .navbar-logo:hover{
        
        /* searched up how to rotate image (dont need to know)*/
        transform: rotate(360deg);
        transition: all 2.0s;
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    .navbar-links{
        display: flex;
        align-items: center;
        /* no more bullet points on the list */
        list-style: none;
        /* moves the navbar links to the right */
        margin-left: auto;
        /* moves the navbar links to the left 12px */
        margin-right: 12px;
        
    }
    /* refers to the (a) inside class navbar-links*/
    .navbar-links a{
        /* removes underline */
        text-decoration: none;
        display: block;
        /* gives each individual links some space*/
        padding: 32px;
        transition: 0.2s;
    }
    .navbar-links a:hover{
        background-color: #9db079;
    }

/* Title Section */
.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -20px;
  }
  
  .media-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 150px 72px 72px;
    padding: 40px;
    border-radius: 100px;
    background: #707e56;
  }
  
  .textbox{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 20px;
    padding-left: 32px;
  }
  .title-img{
    max-width: 200px;
    border: 10px solid;
    box-shadow: 2px 2px;
    /* chat gpt */
    border-image: linear-gradient(to bottom, #edfdcd, #edfdcd27) 1%;
    transition: all 2.0s;
    margin-right: 20px;
    
  }
  .title-img:hover{
    transform: rotate(360deg);
        transition: all 2.0s;
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
  }

/* timeline */
.timeline-items{
    max-width: 1000px;
    background-color: #e1fcad;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    
}
/*::before is a pseudo-element that allows you to insert content before the content of an element.*/
.timeline-items::before{
    /* empty content */
    content: '';
    position: absolute;
    /* building the line */
    width: 3px; 
    /* keep changing the height when adding more timeline items */
    height: 700px;
    background-color: #707e56;
    /* sends the line to center */
    left: 50%;

}
.timeline-textbox{
    margin: 40px;
    
}
.timeline-textbox:nth-child(odd){
    padding-right: 50%;
    text-align: right;
}
.timeline-textbox:nth-child(even){
    padding-left: 50%;
    text-align: left;
}
.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: #707e56;
    position: absolute;
    border-radius: 100%;
    /* make the dot in the center of the line*/
    left: calc(50% - 8px);

}
.timeline-date{
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    font-weight: 300;
    color: #707e56;
}  
.timeline-info{
    background-color: #707e56;
    border-radius: 10px;
    padding: 30px;
    transition: 0.3s;
}
.timeline-info > p{
    margin-top: 20px;
}
a > .timeline-info:hover{
    background-color: #465132;
    box-shadow: 2px 2px 10px 2px black;

}

/* Portfolio Section */
.portfolio-Section{
    display: flex;
    justify-content: center;
    min-height: 72px;
    
}
.portfolio-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0px 24px 96px 24px;
    gap: 100px 50px;
    margin-top: 120px;
    margin-bottom: 60px;
}
.card{
    background-color: #707e56;
    display:flex;
    justify-content: center;
    width: 370px;
    height: 320px;
    border-radius: 10%;
    transition: 0.75s;
    overflow: hidden;
    overflow: scroll;
}
.card:hover{
    height: 500px;
    box-shadow: 2px 2px 10px 2px black;
    background-color: #465132;

}
.card-image{
    margin-top: 20px;
    position: absolute;
    width: 300px;
    height: 220px; 
    border-radius: 10%;
    box-shadow: 2px 2px 10px 2px black;
}
.card-info{
    margin-top: 265px;
    text-align: center;
    
}
.card-info > p{
    margin: 20px;
}

/* Contacts Section */
.contact-container{
    display: flex;
    justify-content: center;
    background-color: #707e56;
   
}
.contact-items{
    display: flex;
    margin: 50px;
}
.contact-icons{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: 0.3s;

}
.contact-icons:hover{
    box-shadow: 2px 2px 8px 2px black;
    height: 75px;
    width: 75px;
}