*
{
    margin: 0;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.section
{
    display: flex;
    height: 200px;
    width: 100%;

    
    

}
.one
{

    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;

}
.two
{
    background-color: white;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}
.three
{
    background-color: #e5e7eb;
    color: #1f2937;
    font-family: 'light italic';
    font-size: 36px;
}
.four
{
    background-color: white;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}